<form action="/auth/login" class="form-inline" method="POST">
<div class="row">
<div class="col-lg-6">
  <label for="name">Nation Slug</label><br>
  <div class="input-group">   
  <input type="text" placeholder="Nation Slug" class="form-control" name="nation_slug">
    </div>
</div>
<div class="col-lg-6">
  <label for="name">Api token</label><br>
  <div class="input-group">   
  <input type="text" placeholder="Api token" class="form-control" name="api_token">
    </div>
</div>
    </div>
     <button type="submit" class="btn btn-default">Create site</button>
</form>