<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Basic Pages</div>
  <div class="panel-body">
    <p>Here's the basic pages</p>
  </div>

  <!-- Table -->
  <table class="table">
      <tr><th>Slug</th><th>Name</th><th>Edit</th></tr>
    <%= results %>
  </table>
</div>